:root {
  --blue: #1a2c42;
  --red: #be2f29;
  --yellow: #ecaf44;
  --black: #0c1115;
  --white: #ffffff;
  --honeydew: #f0fff0;
}

body {
  font-family: "Lato", sans-serif !important;
  overflow-x: hidden;
}

/** HEADER PART **/
.header {
  color: var(--white);
  color: #ffffff; /* used hexcode fallback for IE support */
  background-color: var(--blue);
  background-color: #1a2c42; /* used hexcode fallback for IE support */
  display: flex;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  padding: 1% 5%;
}

.title {
  flex: 2;
}

/** MAP **/
#map {
  position: absolute;
  width: 100%;
  height: 91vh;
}

/** FORM STYLING **/
form {
  position: relative;
  float: right;
  color: var(--yellow);
  color: #ecaf44; /* used hexcode fallback for IE support */
  border-radius: 5px;
  padding: 1%;
  margin: 2% 5%;
  background-color: var(--blue);
  background-color: #1a2c42; /* used hexcode fallback for IE support */
  width: 10%;
}

label {
  font-weight: 600;
}

input,
select {
  width: 100%;
  margin: 5% 0;
  padding: 3%;
  display: block;
  box-sizing: border-box;
}

.userMarker,
.restaurants,
.groceries,
.electronics,
.clothing {
  background-size: cover;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.userMarker {
  background-image: url("../images/user.png");
}

.clothing {
  background-image: url("../images/shopping.png");
}

.electronics {
  background-image: url("../images/electronics.png");
}

.groceries {
  background-image: url("../images/groceries.png");
}

.restaurants {
  background-image: url("../images/restaurant.png");
}

.mapboxgl-popup {
  width: 200px;
}

.mapboxgl-popup-content {
  background-color: rgba(236, 175, 68) !important;
  text-align: center;
  border-radius: 5px !important;
  font-size: 16px !important;
}

.mapboxgl-popup-content > p.desc,
.mapboxgl-popup-content > p.user-banner {
  background-color: var(--honeydew);
  background-color: #f0fff0; /* used hexcode fallback for IE support */
  border-radius: 30px;
  color: var(--red);
  color: #be2f29; /* used hexcode fallback for IE support */
  font-size: 18px !important;
  font-weight: 900;
  line-height: 1.5;
}

.mapboxgl-popup-content > p.title {
  color: var(--blue);
  color: #1a2c42; /* used hexcode fallback for IE support */
  font-size: 18px;
  font-weight: 600;
  margin-top: 5%;
}

.mapboxgl-popup-content > p.category {
  font-size: 14px !important;
  margin: 3% 0;
}

.mapboxgl-popup-content > img.storeLogo {
  background-color: var(--white);
  background-color: #ffffff; /* used hexcode fallback for IE support */
  padding: 3%;
  width: 70%;
  margin: 2% auto;
  display: block;
}

.mapboxgl-popup-content > button.route-btn {
  background-color: var(--black);
  background-color: #0c1115; /* used hexcode fallback for IE support */
  color: var(--white);
  color: #ffffff; /* used hexcode fallback for IE support */
  padding: 3% 10%;
  border-radius: 4px;
}
.mapboxgl-popup-content > p.user-banner {
  padding: 2% 0;
}

.mapboxgl-popup-content > p.user-longitude {
  margin: 7% 0 5%;
}

.mapboxgl-popup-content > p.user-longitude, 
.mapboxgl-popup-content > p.user-latitude {
  text-align: left;
  margin-left: 5%;
}

.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
  display: none;
}

footer {
  position: fixed;
  bottom: 0;
  color: var(--white);
  color: #ffffff; /* used hexcode fallback for IE support */
  background: var(--black);
  background-color: #0c1115; /* used hexcode fallback for IE support */
  width: 100%;
  padding: 0.7% 5%;
}

/* On screens that are 768px or less */
@media (max-width: 768px) {
  form {
    margin: 3% 10%;
    padding: 1% 1.5%;
    width: 18%;
  }

  label {
    font-size: 0.9em;
    font-weight: 500;
  }
}

/* On screens that are 428px or less */
@media (max-width: 428px) {
  form {
    float: left;
    color: var(--blue);
    color: #1a2c42; /* used hexcode fallback for IE support */
    background-color: var(--yellow);
    background-color: #ecaf44; /* used hexcode fallback for IE support */
    margin: 5%;
    padding: 1% 1.5%;
    width: 40%;
  }

  label {
    font-weight: 600;
  }

  input,
  select {
    margin: 2% 0;
    padding: 1% 0;
  }

  .header {
    font-size: 30px;
    padding: 3% 5%;
  }

  footer {
    padding: 2% 5%;
    font-size: 0.8em;
  }
  
  .mapboxgl-popup.mapboxgl-popup-anchor-bottom {
    width: 170px !important;
  }

  .mapboxgl-popup-content {
    padding: 5px;
  }

  .mapboxgl-popup-content > p.desc,
  .mapboxgl-popup-content > p.user-banner,
  .mapboxgl-popup-content > p.title {
    font-size: 16px !important;
  }

  .mapboxgl-popup-content > p.title {
    margin-top: 3%;
  }

  .mapboxgl-popup-content > img.storeLogo {
    display: none;
  }

  .mapboxgl-popup-content > button.route-btn {
    padding: 2% 10%;
  }

  .mapboxgl-popup-content > p.user-longitude,
  .mapboxgl-popup-content > p.user-latitude {
    font-size: 14px !important;
  }
}
